@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: Inter;
    src: url(~/assets/fonts/Inter_18pt-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: url(~/assets/fonts/Inter_18pt-SemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: url(~/assets/fonts/Inter_18pt-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

html, body {
    font-family: Inter, sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;

}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgb(240, 241, 243);
    border: 1px solid #e3e3e3;
    box-sizing: border-box;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:hover{
    background: rgba(0,0,0,0.4);
}
::-webkit-scrollbar-thumb:active{
    background: rgba(0,0,0,.8);
}

.dark ::-webkit-scrollbar-track {
    background: rgb(63, 63, 70);
    border: 1px solid #575757;
}

.dark ::-webkit-scrollbar-thumb{
    background: rgb(82 82 91);
}

#__nuxt {
    @apply flex;
    @apply flex-col;
    @apply min-h-full;
}

.katex {
    font-size: 1em !important;
}

.katex .mathnormal {
    font-family: KaTeX_Main, serif !important;
    font-style: normal !important;
}
